*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

.container{
    width:90%;
    margin:auto;
}

.btn{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.btn-primary{
    background:#198754;
    color:white;
}

.btn-danger{
    background:#dc3545;
    color:white;
}

.table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.table th,
.table td{
    border:1px solid #ddd;
    padding:10px;
}

.table th{
    background:#198754;
    color:white;
}